*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-color: #ff6900;
    height: 100px;
}

main{
    background-color: white;
    min-height: 500px;
}

footer{
    background-color: black;
    height: 130px;
}

/* INIZIO ELEMENTI PAGINA */
.container{
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid transparent;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
}

.box{
    border: 1px solid transparent;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    gap: 10px;
    align-items: center;
}
/* FINE ELEMENTI PAGINA */

/* INIZIO CARATTERISTICHE TAG */
ul, li{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    gap: 10px;
}

.link:link, .link:visited, .link:hover, .link:active {
    color : white;
    text-decoration: none;
    font-size: 15px;
}

.distanza_footer{
    margin-top: -70px;
}

.distanza_articolo{
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.iconcine{
    margin-right: 25px;
}
/* FINE CARATTERISTICHE TAG */

/* INIZIO FOOTER */
.logo{
    width: 100px;
}

.txt_footer{
    display: inline-block;
    color: white;
}
/* FINE FOOTER */

/* INIZIO MAIN */
.image_shopping{
    background-image: cover;
    width: 200px;
    height: 300px;
}
.box_prezzo {
    display: block;
    border: 1px solid transparent;
    color: black;
    margin-top: 30px;
}
.preferito {
    background-color: white;
    border: 1px solid transparent;
    width: 10px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    border: 0px solid;

}
.preferito:hover {
    color: rgb(255, 0, 0);
}

.txt_sconto_red{
    color: red;
}
.txt_prezzo_da_scontare{
    color: black;
    text-decoration: line-through;
}
.sconto_box {
    background-color: red;
    border: 1px solid transparent;
    width: 30px;
    color: white;
    position: relative;
}

.sostenibilità {
    background-color: green;
    border: 1px solid transparent;
    width: 20px;
    color: white;
    position: relative;
}
/* FINE MAIN */